/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 3D 회전을 위한 추가 스타일 */
.perspective-1000 {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.rotateY-0 {
  transform: rotateY(0deg);
}

.rotateY-180 {
  transform: rotateY(180deg);
}

.backface-hidden {
  backface-visibility: hidden;
}
