/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 3D 회전을 위한 추가 스타일 */
.perspective-1000 {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.rotateY-0 {
  transform: rotateY(0deg);
}

.rotateY-180 {
  transform: rotateY(180deg);
}

.backface-hidden {
  backface-visibility: hidden;
}



/* 애니메이션을 위한 추가 스타일 */
.card {
  transition: transform 0.5s ease-in-out;
}

.card-swipe-left {
  animation: swipe-left 0.5s forwards;
}

.card-swipe-right {
  animation: swipe-right 0.5s forwards;
}

@keyframes swipe-left {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-8deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes swipe-right {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(8deg);
  }

  100% {
    transform: rotate(0deg);
  }
}